

.card {
    background-color: rgb(32, 1, 26);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(206, 8, 8, 0.849);
    padding: 0 1rem 1rem 1rem;
    margin: 3rem;
    height: 10rem;
    width: 12rem;
    text-align:center;
    line-height: 50px;;

    
}
.card:hover{
    background-color: rgb(32, 1, 26);
    box-shadow: 0 4px 8px rgba(250, 50, 50, 0.849);
    line-height: 80px;;
    color: white;
    transition: 0.5s;
}

.card-container {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 0;
    row-gap: 0;
    padding: 0;
    margin: 0;


}