.navbar {
    background-color: #333;
    overflow: hidden;
    position: sticky; /* Add this line */
    top: 0; /* Add this line */
    width: 100%; /* Add this line to ensure the navbar spans the full width */
    justify-content: center;
    display: flex;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 5rem;
    
    display: flex-inline;
    justify-content: center;
    align-items: center;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 50px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
    color: rgb(20, 66, 45);
    transition: 0.5s;;
}
